@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* スクロールバーの表示・非表示でずれるため、常にスクロールバーを表示 */
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", monospace;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* スクロールバーの背景色 */
::-webkit-scrollbar-track {
  border-radius: 32px;
  background-color: #cecece;
}
/* スクロールバーの色 */
::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: #a8a8a8;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
